<app-headerfrontend></app-headerfrontend>
<div style="padding-top: 50px;">
<div class="col-lg-12 col-md-12 col-sm-12">		
	<div class="profile" id="Menu18">
		<form [formGroup]="frontendProfile" (ngSubmit)="frontendUpdate()">
			<div class="firstDiv">
				<span class="">Change Password</span>
				<input type="submit" class="btn" value="Next" style="float: right;" [disabled]="!frontendProfile.valid">
			</div>

			<div class="secondDiv">
				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-key" aria-hidden="true"></i>
	  				</span>
	  				<input type="password" class="form-control" formControlName="oldpassword" (keyup)="matchpassword()">
	  				<span class="gfe-input-placeholder">Password *</span>

				</div>
				<div style="padding: 3px;" *ngIf="formErrors.oldpassword" class="alert alert-danger">
                               {{ formErrors.oldpassword }}
                    </div>
				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-key" aria-hidden="true"></i>
	  				</span>
	  				<input type="password" class="form-control" formControlName="newpassword" (keyup)="matchpassword()">
	  				<span class="gfe-input-placeholder">New Password *</span>
				</div>
				<div style="padding: 3px;" *ngIf="formErrors.newpassword" class="alert alert-danger">
                               {{ formErrors.newpassword }}
                    </div>
                    <div style="padding: 3px;" class="alert alert-danger" *ngIf="MutchPassword">Password not match</div>
			</div>
		</form>
	</div>
</div>
</div>