body{background-color:#fff;margin-top:0px;}

        div.text-aligen-j{
          text-align: justify;
        }
        div.section2{
            background-image: url('../../assets/image/a.jpg');
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin: 0;
            color: white;
            text-align: center;
            padding:5% 0 5% 0;
            line-height: 2;
        }

        div.section2 .inputField{
            padding-top:3%;
            padding-bottom: 14%;  
        }

        div.section2 .inputField input{
            width: 50%;
            border-radius: 8px;
            padding:0.5% 0.5% 0.5% 2%;
        }

        .section3{
            background: #EDEDED;
            padding:2%;
            text-align: center;
        }

        .section3 center div{
            font-size: large;
        }

        .section3 center div.orderFlow{

            padding:5%; 
        }
        .orderFlow{
                margin-top: 53px;
        }
        .section3 center div.orderFlow div img{
            width: 35%;
        }

        .section3 center div.orderFlow div div.step{
            margin-top: 10%;
        }

        .section4{
                padding: 8px;
                padding-bottom: 15px;
                padding-top: 15px;
        }

        .section5{
            background: #EDEDED;
            padding:5%;
            color: #31373D;
        }

        .section5 center div div img{
            width: 20%;
        }

        .footer{
            background: #31373D;
            color: white;
            padding:1%; 
        }

        .forArrow{
            padding:0;
        }

        .forArrow img{
            width: initial !important;
            top: 15px;
        }



/*----------Browse restraurant------------*/

    .mainBody{
    padding-left: 6%;
    padding-right: 6%;
    box-shadow: 0 0 5px 0 #aba9ab;
    min-height: 600px;
    }


    .asideMenu .filterBy, .asideMenu .cuisines{
        padding-left: 5%;
        padding-right: 5%;
    }

    .offers{
        float: right;
    }

    .restroImage{
        width: 75px ;
        margin: auto;
        text-align: -webkit-center;
    }

    .starRating , .basicInfo{
        padding: inherit;
    }
    
    .offer{
        padding-right: inherit;
    }
    .viewMenu
    {
        text-transform: uppercase;

    }

    .restroImage1{
        padding: 0 0 10px 0;
    }

    .restroImage1 img{
        border: 1px solid rgba(49, 55, 61, 0.25);
    background-color: rgba(241, 241, 241, 0.39);
    }

   
    .stylish-input-group .input-group-addon{
    background: white !important; 
    }
    .stylish-input-group .form-control{
    border-right:0; 
    box-shadow:0 0 0; 
    border-color:#ccc;
    }
    .stylish-input-group button{
    border:0;
    background:transparent;
    }
    
    .thumbnail .caption {
    padding: 10px !important;
    color: #333;
}

    .thumbnail
        {
            /*padding: 10px;*/
            margin-bottom: 20px;
            -webkit-border-radius: 0px;
            -moz-border-radius: 0px;
            border-radius: 0px;
        }
        .item.list-group-item
        {
            float: none;
            width: 100%;
            background-color: #F3F3F3;
            border: 0px;
        }
        .item.list-group-item .list-group-image
        {
            margin-right: 10px;
        }

        .item.list-group-item .caption
        {
            padding: 1%;
        }

        .item.list-group-item:before, .item.list-group-item:after
        {
            display: table;
            content: " ";
        }

        .item.list-group-item img
        {
            float: left;
        }
        .item.list-group-item:after
        {
            clear: both;
        }
        .list-group-item-text
        {
            margin: 0 0 11px;
        }

        .crousal-dynamic-hgt{
                height: 550px;
            }

        @media (max-width: 991px) & (max-width: 767px){
            .restroImage1 .restroImage img{
                width: 80%;
            }
            .crousal-dynamic-hgt{
                height: 300px;
            }
        }


        .kitchenDetail{
            padding:10px 0 10px 0;
        }

        .restroName{
            padding: 10px 0 10px 0;
        }

        .threeTabs div{ 
            margin: 2% 0 2% 0;
            /*border-bottom: 0.25px solid #DCDCDC;*/
            text-align: -webkit-center;
        }

        .threeTabs h4:after {
            display:block;
            content: '';
            border-bottom: solid 3px #F68B2D;  
            transform: scaleX(0);  
            transition: transform 250ms ease-in-out;
        }
        .threeTabs h4:hover:after {
            transform: scaleX(1); 
        }

        .threeTabs div a{
            text-decoration: none;
            color: black;
            width: 100%;
        }

        .threeTabs h4{
            margin: 0;

        }

        .searchBox #imaginary_container div input{
            height: 44px !important;
            border: 1px solid #757575;
            border-right: 0;
        }

        i.fa-book , i.fa-comments-o ,i.fa-info-circle{
            color: #F68B2D;
        }

        i.fa-star{
         color: grey;
        }

        i.fa-plus-circle{
            color: #2d9847;
            font-size: x-large;
        }

/*        div.row{
            padding: 1% 0 1% 0;
            border-bottom: 1px solid #F0F0F0;
        }*/

        div.categories div{
            font-size: medium;
            padding: 1% 0 1% 2%;
        }

        div.reviewDetails div.rating{
            padding: 1% 0 1% 0;
            text-align: -webkit-center;
            border-right: 1px solid #DCDCDC;
        }

        div.reviewDetails div.reviewRestaurant{
            padding: 1% 0 1% 0;
            text-align: -webkit-center;
        }
        
        div.infoDetails div.listing{
            border-top: 1px solid #DCDCDC;
            padding: 1%;
            margin: 0;
        }

        div#collapsedays div.row{
            border-bottom: 1px solid #DCDCDC;
            padding: 1% 5% 1% 5%;
            margin: 0;
        }

        div.categories div{
            cursor:pointer;
        }

        .categoryActive{
            border-left: 3px solid #F68B2D;
            padding-left: 8px;
        }

        .tabActive{
            border-bottom: solid 3px #F68B2D;
        }        
        .ui-select-container{
            width: 100%;
        }
        .div.section2 .inputField input{
                width: 100%;
        }        
        div.dropdown{
         border-left: 0px;
        }  
        .ui-select-match{
                border-top:3px solid #31373D;
                border-bottom: 3px solid #31373D;
                 border-left: 3px solid #31373D;
        }
        .ui-select-toggle{
            border-radius: 0px;
        }

        .ui-select-match:nth-clhild(1){        
          border-radius: 6px;
        }
        div.section2 .inputField input{
        width: 100%;
        border: 3px solid #31323d;
        border-radius: 0px;     
        }
    .noborder{
      border: 0px !important;
      }

.navbar-toggle {
    padding: 16px 10px !important;
}

#classinputserchi {
    padding: 9px !important;
    border: 2px solid #31373D !important;  
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, .thumbnail a>img, .thumbnail>img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
}
.section5 {
    text-align: center;
}

 .classinputserch{
    padding: 0px;
    }
   #classinputserchi{
    width: 100%; 
    border-radius: 0px;
    padding: 9px;
    border-top: 2px solid #31373D;
    border-bottom: 2px solid #31373D;
    color: black;
    }
   
   .classinputserchbtn{   
    width: 100%;
    border-radius: 0px;    
    background-color: #2c982c;
    color: #fff;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    padding: 5px;
    border: 2px solid #31373D;
    }
    .srchr{
      border-right: 0px;
    }
    .srchl{
      border-left: 0px;
    }
    .srchinput{
    border-top-left-radius: 6px;
    border-bottom-left-radius: 6px;
    }
    .howit{
      width: 100px !important;
    }
@media(max-width:276px){
        .img-target {
        height: 200px;
        }
.crousal-dynamic-hgt{
    height: 200px;
}



}

/*
@media(max-width: @screen-xs-max){}
@media(min-width: @screen-sm-min){
  .headLine > h1 {
    font-size: 22px !important;
  }
  .srchl {
    border-top-left-radius: 7px;
    border-bottom-left-radius: 7px;
    border-left: 3px solid #31373d;
}}  
@media(min-width: @screen-md-min){
   .headLine > h1 {
    font-size: 22px !important;
  }
  
  }  
@media(min-width: @screen-lg-min){}*/

.idcross{
    margin-bottom: 15px;
}

.srcx{
    padding:10px;
}

.forminputsearch{
 border: 2px solid #31373D !important;
}
.well-smcustom{
    margin-top: 5px;
    background-color: #31373d;
    border: 0px solid #31373d;
    border-radius: 0px;
}

div.classinputserch > div.btn-group > button{
 padding: 10px 15px;
 border-radius: 0px;
 border: 2px solid #31373D;
}
div.section2 .inputField input{
 border: 1px solid #31323d; 
}
div.classinputserch > div > div > div > ul > li.selected > a:hover{
 color: black;
}

.newpadd{
    padding-right: 34px;
}
.browseralien1{
    padding-top: 7px;
    padding-right: 0px;
}

.marginlr{
    margin-left: 0px;
    margin-right: 0px;
}

.colorfa1{
    color: #F68B2D;
}
.border-radius-img1{
border-radius: 50%;
}
.panel-headingborder{
    border-bottom:  1px solid lightgrey !important;
    border-top:  1px solid lightgrey !important;
}
.padding-remove12{
 padding: 0px;
}
.margin-remove12{
 margin: 0px;
}
.text-align12{
    text-align: center;
}
.list-pointer12{
    cursor: pointer;
}

/*Sub*/

.rounded-0 {
    border-radius: 0;
}
.shadow{
        box-shadow:1px 2px 3px 0px #e0e0e0
}
.tabs-left>.nav-tabs {
    border-bottom: 0;
}
.tab-content>.tab-pane,
.pill-content>.pill-pane {
    display: none;
}
.tab-content>.active,
.pill-content>.active {
    display: block;
}
.tabs-left>.nav-tabs>li,
.tabs-right>.nav-tabs>li {
    float: none;
}

.tabs-left>.nav-tabs>li>a,
.tabs-right>.nav-tabs>li>a {
    min-width: 74px;
    margin-right: 0;
    margin-bottom: 3px;
}

.tabs-left>.nav-tabs {
    float: left;
    margin-right: 19px;
}

.tabs-left>.nav-tabs>li>a {
    color: #727272;
    font-weight: bold;
    border-radius: 0;
}

.tabs-left>.nav-tabs>li>a:hover,
.tabs-left>.nav-tabs>li>a:focus {
    border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left>.nav-tabs .active>a,
.tabs-left>.nav-tabs .active>a:hover,
.tabs-left>.nav-tabs .active>a:focus {
    border-color:#ddd;
    color: #fff;
    background-color: #2c982c;
    font-weight: bold;
}
.accont-panel{
    min-height: 550px;
}
.col-lg-2half{
    width: 18%
}
.text-left{
    text-align: left !important;
}
    .form-horizontal .control-label {
    color: #727272;
    }
    .address-text{
    }
    .fa100{
        font-size: 100px !important;
        color: #727272;
    }
        .breadcrumb {
        margin-bottom: 0;
        }
        .custom-panel-body{
                border: 1px solid gainsboro;
        }
        .mb-0{
            margin-bottom: 0;
        }
        .fa-CustomWhite{
            color: white !important;
            font-size: 15px !important;
        }
        .pac-container {
         z-index: 10000 !important;
         }
         .imageitem-size{
            height: 50px; width:50px; margin-bottom: 5px; border-radius: 50%;
         }

       /*  .makedefault{
            display: none;
         }

         .shadow:hover .makedefault{
            display: block;
         }
         */

.grid-css{
        background-color: #000000a1;
        height: calc(100% - 20px);
        position:  absolute;
        right:  0;
        left:  0;
        top: 0;
        bottom: 0;
        margin-left: 15px;
        margin-right: 15px;
}


.loader1 {
     border: 3px solid #f3f3f3;
    -webkit-animation: spin 0.8s linear infinite;
    animation: spin 0.8s linear infinite;
    border-top: 3px solid #555;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 45%;
    top: 2px;
}

/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.pointer {cursor: pointer;}
.close-cls{    
    color: white;
    margin-top: 38px;
    text-align: center;
    font-size: 33px;
    position: relative;
    }
.greyitems{
color: grey;
}
.restro_listing{
    min-height: 500px;
}
.grid-0{
    -moz-column-width: 18em;
 -webkit-column-width: 18em;
 -moz-column-gap: 1em;
 -webkit-column-gap:1em; 
}
.thambnail-0{
 display: inline-block;
 padding:  .25rem;
 width:  100%; 
}
.thambnail-0 > div{
    position:relative;
 display: inline-block;
}