<div class="container-fluid">
	<div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Kitchen
            </h1>
            <ol class="breadcrumb">
                <li class="active">
                    <i class="fa fa-cutlery"></i> Kitchen
                </li>
            </ol>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
        	<div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title"><i class="fa fa-cutlery"></i> Kitchen Add</h3>
                </div>
                <div class="panel-body">
                    <form [formGroup]="restaurantData" (ngSubmit)="userAdd()">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Name</label>
                            <input formControlName="restaurantname" type="text" class="form-control" id="exampleInputEmail1" placeholder="Name" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Address</label>
                            <input formControlName="address" type="text" class="form-control" id="exampleInputEmail1" placeholder="Address" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">City</label>
                            <input formControlName="city" type="text" class="form-control" id="exampleInputEmail1" placeholder="City" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Country</label>
                            <input formControlName="country" type="text" class="form-control" id="exampleInputEmail1" placeholder="Country" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Zipcode</label>
                            <input formControlName="zipcode" type="text" class="form-control" id="exampleInputEmail1" placeholder="Zipcode" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">First Name</label>
                            <input formControlName="ownerfirstname" type="text" class="form-control" id="exampleInputEmail1" placeholder="First Name" required>
                        </div>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Last Name</label>
                            <input formControlName="ownerlastname" type="text" class="form-control" id="exampleInputEmail1" placeholder="Last Name">
                        </div>
                        <!-- <div class="form-group">
                            <label for="exampleInputEmail1">Username</label>
                            <input formControlName="username" type="text" class="form-control" id="exampleInputEmail1" placeholder="Username">
                        </div> -->
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email</label>
                            <input formControlName="email" type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword1">Password</label>
                            <input formControlName="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                        </div>
                        <button type="submit" class="btn btn-default" [disabled]="!restaurantData.valid">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>