<app-headerowner></app-headerowner>
<div class="rightMenu col-lg-9 col-md-9 col-sm-9">
	
	<div class="profile" id="Menu18" *ngIf="newo">
		<form [formGroup]="ownerProfile" (ngSubmit)="ownerUpdate()">
			<div class="firstDiv">
				<span class="">Password Change</span>
				
			</div>

			<div class="secondDiv">

				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-key" aria-hidden="true"></i>
	  				</span>
	  				<input type="password" class="form-control" formControlName="oldpassword" (keyup)="oldpassword()"/>
	  				<span class="gfe-input-placeholder">Old Password <b class="redclass">*</b></span>
				</div>
				<div style="padding: 3px;" *ngIf="oldmatch" class="alert alert-danger">
                               Old Password not matching!
                </div>

				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-key" aria-hidden="true"></i>
	  				</span>
	  			<input type="password" class="form-control" formControlName="password" (keyup)="matchpassword()">
	  				<span class="gfe-input-placeholder">New Password <b class="redclass">*</b></span>
				</div>

				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-key" aria-hidden="true"></i>
	  				</span>
	  				<input type="password" class="form-control" formControlName="confirmpassword" (keyup)="matchpassword()">
	  				<span class="gfe-input-placeholder">Confirm Password <b class="redclass">*</b></span>
				</div>

				<div style="padding: 3px;" *ngIf="formErrors.password" class="alert alert-danger">
                               {{ formErrors.password }}
                </div>

				<div style="padding: 3px;" class="alert alert-danger" *ngIf="MutchPassword">Password not match</div>
			</div>
			<div class="row button-position7">
               <input type="submit" class="btn" value="Save" style="float: right;" [disabled]="!ownerProfile.valid">
				</div>
		</form>
	</div>
</div>