
<footer class="footerbg" >
  

<div class="footer footer3">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 custom_a" style="margin-bottom: 15px;">
		
    <!-- <div class="col-lg-2 col-md-4 col-sm-3 col-xs-6 custom_j  newcutom_j cor" *ngFor="let page of pages"> 
	      <a [routerLink]="['/customer/page/',page.url]">{{page.title}}</a>			
		</div> -->

    <!-- <div class="col-lg-1 col-md-4 col-sm-3 col-xs-6 custom_j newcutom_j cor ">      
      <a [routerLink]="['/customer/about-us']">About us</a>
    </div>
		<div class="col-lg-2 col-md-4 col-sm-3 col-xs-6 custom_j newcutom_j cor ">      
      <a [routerLink]="['/customer/contact']">Contact</a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-3 col-xs-6 custom_j newcutom_j cor ">      
      <a [routerLink]="['/customer/faq']">Faq</a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-3 col-xs-6 custom_j newcutom_j cor ">      
      <a [routerLink]="['/customer/feedback']">Feedback</a>
    </div>
    <div class="col-lg-2 col-md-4 col-sm-3 col-xs-6 custom_j newcutom_j cor ">			
		  <a [routerLink]="['/customer/how-it-works']">How It Works</a>
		</div>
		<div class="col-lg-2 col-md-4 col-sm-3 col-xs-6 newcutom_j cor" [ngClass]="currentCustomer ? 'custom_j': ''">					
		  <a data-toggle="modal" data-target="#ownerlogin" style="cursor: pointer;" (click)="restlogin('login')">Restaurant Login</a>
		</div>		
		<div class="col-lg-1 col-md-4 col-sm-3 col-xs-6 custom_j newcutom_j cor">					
		  <a [routerLink]="['/customer/referral']" > Referral </a>
		</div>				 -->

    <ul class="list-inline list-inline1">
    <li class=" newcutom_j cor list-inlinei"><a [routerLink]="['/']">Home</a></li>
    <li class=" newcutom_j cor list-inlinei"><a [routerLink]="['/customer/page/about-us']">About us</a></li>
    <li class=" newcutom_j cor list-inlinei"><a [routerLink]="['/customer/contactus']">Contact</a></li>
    <li class=" newcutom_j cor list-inlinei"><a [routerLink]="['/customer/page/faq']">FAQ</a></li>
    <li class=" newcutom_j cor list-inlinei"><a [routerLink]="['/customer/page/feedback']">Feedback</a></li>
   <!--  <li class=" newcutom_j cor list-inlinei"><a [routerLink]="['/customer/page/how-it-works']">How It Works</a></li> -->
    <li *ngIf="!currentOwner" class="newcutom_j cor list-inlinei"><a data-toggle="modal" data-target="#ownerlogin" style="cursor: pointer;" (click)="restlogin('login')">Chef Login</a></li>

    <li *ngIf="currentOwner" class="cor list-inlinei"><a  style="cursor: pointer;" [routerLink]="['/owner/profile']">Goto owner profile</a></li>

    <li  *ngIf='currentCustomer' class="newcutom_j list-inlinei cor" [routerLink]="['/customer/referral']" ><a [routerLink]="['/customer/referral']">Referral</a>
    </li>
  </ul>
	</div>
</div>

<div class="footer1">
  <div class="container">
  <div class="row">
    <div class="col-lg-2  col-md-2 col-sm-2 col-xs-12 colordarkgrey mtb-15 footer122">Stay Connected</div>
    <div class="col-lg-5 col-md-4  col-sm-4 col-xs-12"> 
    
      <img src="../assets/image/fb.svg" class="social1"/>
      <img src="../assets/image/twitter.png" class="social2"/>
      <img src="../assets/image/youtube.png" class="social2" />
      <img src="../assets/image/blog.png" class="social2"/>
    </div>
    <div class="col-lg-2 col-md-2 col-sm-2 col-xs-12 colordarkgrey mtb-15">Get mobile App</div>
    <div class="col-lg-3 col-md-4  col-sm-4 col-xs-12  footer12 footer122">
      <img src="../assets/image/appstore.png" class="appadv"/>   
      <img src="../assets/image/googleplay.png" class="appadv appadv2"/>   
    </div>
  </div>
</div>
</div>
<div class="footer footer2">
 <div class="container" style="width:95%;">
    <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12 paddinglr0"> 
        <div class="col-lg-1 col-md-1 col-sm-3 col-xs-4 custom_j newcutom_j cor" >         
         <a [routerLink]="['/customer/page/privacy']"> Privacy </a>
        </div>
        <div class="col-lg-2 col-md-5 col-sm-3 col-xs-8 newcutom_j cor">         
         <a [routerLink]="['/customer/page/terms-and-conditions']" > Terms and Conditions </a>
        </div>
        <div class="col-lg-9 col-md-6 col-sm-6 col-xs-12 newcutom_j cor footer21 footer211">
          Copyright@2017 All Rights Reserved
        </div>   
   </div>
   </div>

</div>


  <div class="modal fade" id="ownerlogin" role="dialog">
    <div class="modal-dialog modal-md">
      <div class="modal-content" *ngIf="showform == 'register'">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center">Chef Signup</h3>
        </div>
        <div class="modal-body"*ngIf="this.newo != false">
      			  <form role="form" [formGroup]="loginFormr" (ngSubmit)="register()">
                        <fieldset>
                            <!-- <div class="form-group">
                                <input formControlName="username" class="form-control" placeholder="Username" type="text" autofocus>
                                 <div *ngIf="formErrorsr.username" class="alert alert-danger">
                                         {{ formErrorsr.username }}
                                        </div>
                            </div> -->
                            <div class="form-group">
                                <input formControlName="email" class="form-control" placeholder="E-mail"  type="text" autofocus>
                                 <div *ngIf="formErrorsr.email" class="alert alert-danger">
                                         {{ formErrorsr.email }}
                                        </div>
                            </div>
                            <div class="form-group">
                                <input formControlName="password" class="form-control" placeholder="Password" type="password" value="" (keyup)="matchpasswordreg()">
                                 <div *ngIf="formErrorsr.password" class="alert alert-danger">
                                         {{ formErrorsr.password }}
                                 </div>
                            </div>

                             <div class="form-group">
                                <input formControlName="newpassword" class="form-control" placeholder="Confirm Password" type="password" (keyup)="matchpasswordreg()">
                            </div>
                               <div style="padding: 3px;" class="alert alert-danger" *ngIf="MutchPassword">Password not match</div>                               
                            <!-- Change this to a button or input when using this as a form -->
                            <button class="btn btn-lg btn-success btn-block" [disabled]="!loginFormr.valid">Register</button>
                            <a class="btn btn-lg btn-primary btn-block " (click)="restlogin('login')">Login</a>
                        </fieldset>
         			</form>           
        </div>        
      </div>

      <div class="modal-content" *ngIf="showform == 'forget'">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center">Forget Password?</h3>
        </div>
        <div class="modal-body">
          <p style="font-size:16px; text-align:justify; margin-bottom: 5px;"> Please provide your email address associated with your account.  An email will be sent to you with a link to reset your password.</p>
              <form role="form" [formGroup]="forgetForm" (ngSubmit)="forgetPass()">
                        <fieldset>
                        
                            <div class="form-group">

                                <input formControlName="email" class="form-control" placeholder="E-mail" name="email" type="email" autofocus>

                                 <div *ngIf="formErrorsf.email" class="alert alert-danger">
                                         {{ formErrorsf.email }}
                                 </div>

                            </div>
                             <div class="progress" *ngIf="process">
                        <div class="progress-bar progress-bar-striped active" role="progressbar"
                        aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width:100%">
                        </div>
                        </div>

                            <!-- Change this to a button or input when using this as a form -->
                            <button class="btn btn-lg btn-success btn-block">Submit</button>
                             <a class="btn btn-lg btn-primary btn-block" (click)="restlogin('login')">Login</a>
                        </fieldset>
              </form>          
        </div>        
      </div>

       <div class="modal-content" *ngIf="showform == 'forgetsuccess'" style="padding: 41px;
    font-size: 18px;
    text-align: justify;">
        <div class="modal-body">
          <p>
         Email is sent. Please click on the link in the email, to complete password reset.</p>
         <br>
         &nbsp;
         <div style="text-align: center;">
         <button (click)="restlogin('login')" type="button" class="btn btn-sm btn-success"> &nbsp;  &nbsp; OK  &nbsp; &nbsp;</button>
       </div>
        </div>
      </div>


       <div class="modal-content" *ngIf="showform == 'login'">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title text-center">Chef Login</h3>
        </div>
        <div class="modal-body">
         <form role="form" [formGroup]="loginForm" (ngSubmit)="login()">
                    <fieldset>
                            <div class="form-group">
                                <input formControlName="username" class="form-control" placeholder="Email" type="text" autofocus>
                            </div>
                            <div class="form-group">
                                <input formControlName="password" class="form-control" placeholder="Password" type="password" value="">
                               <!--  {{formErrors.password}} -->
                                 <!-- <div style="padding: 3px;" *ngIf="formErrors.password && formErrors.password != ''" class="alert alert-danger">
                                  {{ formErrors.password }}
                              </div> -->
                            </div>

                            <div class="alert alert-danger" *ngIf="alertType == 'error'" style="padding:5px">
                            <p> Incorrent Email or Password!. </p>
                            </div>
                            <div class="alert alert-success" *ngIf="alertType == 'success'" style="padding:5px">
                            <p>&nbsp; Login Successfully! </p>
                            </div>

                            <div class="" style="float: left;">
                                <label>
                                    <a class="pull-right" (click)="restlogin('forget')">Forgot Password?</a>
                                </label>
                            </div>
                            <!-- Change this to a button or input when using this as a form -->
                    <button class="btn btn-lg btn-success btn-block" [disabled]="!loginForm.valid">Login</button>
                    <h5 class="acc-create">Don't have an account? <a class="pull-right" data-toggle="modal" data-target="#ownerregistion" (click)="restlogin('register')" style="cursor: pointer;">Chef Signup</a></h5>
                    
                   </fieldset>
         </form>           
        </div>        
      </div>


      <div class="modal-content" *ngIf="showform == 'ownersuccess'" style="padding: 41px;
    font-size: 18px;
    text-align: justify;">
        <div class="modal-body">
         Thank you for registering. An email is sent to you, to verify your email address. Please click on the link to enable your account. You can only login after verifying your email addressing.
         <br>
         &nbsp;
         <div style="text-align: center;">
         <button (click)="restlogin('login')" type="button" class="btn btn-sm btn-success"> &nbsp;  &nbsp; OK  &nbsp; &nbsp;</button>
       </div>
        </div>
      </div>


    </div>
  </div>
  </footer>