<style>p{
  margin:5px;
}</style>
<div class="qlt-confirmation">
    <div class="panel panel-default">
        <div class="panel-body">
                <p class="desc">Hello<b><%= customer.firstname %>,</b></p><br>
                <p> Password Reset Link! Please click on this link to change your password.</p><p><a href='<%= customer.resetPassLink %>'>CLICK HERE</a></p>
                <br>
                <p>Thanks,</p>
                <p><b>Mealdaay.com</b></p>
        </div>
    </div>
</div>