<div class="container-fluid">
 
    			<div class="row page-header">
                    <div class="col-lg-6">
                        <h1 class="">
                            Password Complexity
                        </h1>
                    </div>
                    <div class="col-lg-6" style="padding: 18px 15px;">
                        
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                       
                    </div>
                </div>

                <div class="row">
                    <div class="col-lg-3 col-sm-4 form-group pull-right">
                       <!--  <input type="text" [(ngModel)]="userFilter.title" placeholder="Title" class="form-control"> -->
                    </div>
                    <div class="col-lg-12">
                    	<div class="panel panel-default">
                            <div class="panel-heading">
                                <div class="row">
                                    <h3 class="panel-title pull-left"><i class="fa fa-list" style="padding-left: 15px;"></i> Password Complexity List</h3>
                                </div>
                            </div>

                            <div class="panel-body">
                                <div class="panel-body">
               
                    <div class="table-responsive">
       <form [formGroup]="passwordProfile" (ngSubmit)="complexityUpdate()">
                        <table class="table table-bordered table-hover table-striped">
                            <thead>
                                <tr>
                                    <th>Admin</th>
                                    <th>Owner</th>
                                    <th>Customer</th>
                                </tr>
                            </thead>
                            <tbody *ngIf="myinfo.adminpasscomplexity">
                                <tr>
                                    <td><input type="radio" name="admin" value="none" formControlName="admin" [checked]="myinfo.adminpasscomplexity.name == 'none'"> &nbsp; None</td>
                                    <td> <input type="radio" name="owner"  value="none"  formControlName="owner" [checked]="myinfo.ownerpasscomplexity.name == 'none'"> &nbsp; None</td>                                    
                                    <td> <input type="radio" name="customer" value="none" formControlName="customer" [checked]="myinfo.customerpasscomplexity.name == 'none'"> &nbsp;None</td>                       
                                </tr>
                                <tr>
                                    <td><input type="radio" name="admin" value="simplepassword" formControlName="admin" [checked]="myinfo.adminpasscomplexity.name == 'simplepassword'"> &nbsp; Simple Password</td>

                                    <td> <input type="radio" name="owner" value="simplepassword" formControlName="owner" [checked]="myinfo.ownerpasscomplexity.name == 'simplepassword'"> &nbsp; Simple Password</td>                                    
                                    <td> <input type="radio" name="customer" value="simplepassword" formControlName="customer" [checked]="myinfo.customerpasscomplexity.name == 'simplepassword'"> &nbsp;Simple Password</td>           
                                </tr>
                                <tr>
                                    <td><input type="radio" name="admin" value="medium" formControlName="admin" [checked]="myinfo.adminpasscomplexity.name == 'medium'"> &nbsp;Medium</td>                                     
                                    <td> <input type="radio" name="owner" value="medium" formControlName="owner" [checked]="myinfo.ownerpasscomplexity.name == 'medium'"> &nbsp; Medium</td>                                    
                                    <td> <input type="radio" name="customer" value="medium" formControlName="customer" [checked]="myinfo.customerpasscomplexity.name == 'medium'"> &nbsp;Medium</td>                                                                   
                                </tr>
                                <tr>
                                    <td><input type="radio" name="admin" value="complex" formControlName="admin" [checked]="myinfo.adminpasscomplexity.name == 'complex'"> &nbsp;Complex</td>                                     
                                    <td> <input type="radio" name="owner" value="complex"  formControlName="owner" [checked]="myinfo.ownerpasscomplexity.name == 'complex'"> &nbsp;Complex</td>                                     
                                    <td><input type="radio" name="customer" value="complex"  formControlName="customer" [checked]="myinfo.customerpasscomplexity.name == 'complex'"> &nbsp;Complex</td>  
                                </tr>
                            </tbody>
                        </table>
                        <button type="submit" class="btn btn-default" [disabled]="!passwordProfile.valid">Submit</button>
      </form>
                    </div>
                     
                    <div class="text-right">
                        <!-- <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a> -->
                    </div>
                </div>
                                <div class="text-right">
                                    <!-- <a href="#">View All Transactions <i class="fa fa-arrow-circle-right"></i></a> -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
    		</div>