<div class="qlt-confirmation">
    <div class="panel panel-default">
        <div class="panel-body">
                <p class="desc">Hello <b>Admin</b>,</p><br>
                <p><b><%= username %></b>, New driver join Mealdaay.com! Please approve <%= username %> account.</p>
                <br>
                <p>Thanks,</br>
                <b>Mealdaay.com</b></p>

        </div>
    </div>
</div>