<div class="qlt-confirmation">
    <div class="panel panel-default">
        <div class="panel-body">
                <p class="desc">Hello, <b>Admin</b> <br> <b><%= username %></b>, new driver join Mealdaay.com! <br> Please approve <%= username %> account. <br><img style="width: 40px; height: 40px" src="http://cdn.mysitemyway.com/etc-mysitemyway/icons/legacy-previews/icons/glossy-black-icons-business/080840-glossy-black-icon-business-mailbox.png">.</p>
        </div>
    </div>
</div>