<div>
    <div class="panel panel-default">
        <div class="panel-body">                           
                <p class="desc">Hello <b><%= username %>,</b>  </p> </br></br> Thank you for Order on mealdaay.com.Your order has been received which Order Id : <%= token %>
                <br><br>
                <p>Thanks,</br>
                <b>Mealdaay.com</b></p>
        </div>
    </div>
</div>