    
    <style>p{
    margin:5px;
    }</style>

    <div>
    <div class="panel panel-default">
    <div class="panel-body">                           
            <p class="desc">Hello <b><%= username %>,</b>  </p> 
            <br> Your order has been cancelled with <b> Order Id :</b> <%= token %> .
            <br><br>
            <p>Thanks,</p>
            <p><b>Mealdaay.com</b></p>
    </div>
    </div>
    </div>