<style>p{
  margin:5px;
}</style>
<div>
    <div class="panel panel-default">
        <div class="panel-body">                           
         <p class="desc">Hello <b><%= username %>,</b></p>
        </div>
        <br>
        <p>Thank you for signing up! Please click the below link to Activate your Account.</p>
        <p><a href='http://mealdaay.com:3004/customer/drivermailactivate/<%= token %>'>CLICK HERE</a></p>
        </br>
        <p>Thanks,</p>
        <p><b>Mealdaay.com</b></p>
        </div>
    </div>
</div>