<style>p{
  margin:5px;
}</style>
<div>
    <div class="panel panel-default">
        <div class="panel-body">                           
                <p class="desc">Hello <b><%= customer.firstname %>,</b>  </p> 
                 <br>
                 <p> Please click the below link to change your Password.</p> 
                <p><a href='<%= customer.resetPassLink %>'>CLICK HERE</a> </p>
                <br>
                <p>Thanks,</p>
                <p><b>Mealdaay.com</b></p>
        </div>
    </div>
</div>

