<div>
    <div class="panel panel-default">
        <div class="panel-body">                           
                <p class="desc">Hello <b><%= customer.firstname %>,</b>  </p> </br></br> Please click the below link to change your Password. </br></br> <a href='<%= customer.resetPassLink %>'>CLICK HERE</a> 
                <br><br>
                <p>Thanks,</br>
                <b>Mealdaay.com</b></p>
        </div>
    </div>
</div>


