<style>p{
  margin:5px;
}</style>
<div>
    <div class="panel panel-default">
        <div class="panel-body">                           
                <p class="desc">Hello <b><%= username %>,</b> </p> 
                <br> 
                <p>You are registered as Partner with Mealdaay. 
                 Please click the below link to Activate your Account.</p> 
                <p><a href='https://mealdaay.com/owner/partner-mailactivate/<%= token %>'>CLICK HERE</a> </p> 
                <br><br>
                <p>Thanks,</br>
                <b>Mealdaay.com</b></p>
        </div>
    </div>
</div>
