<div class="qlt-confirmation">
    <div class="panel panel-default">
        <div class="panel-body">
                <p class="desc">Hello,</p>
                <p> Referral link refered to Mealdaay.com <br>
                Referral Link <a href='http://mealdaay.com:3004/owner/referralregister/<%= token %>'>CLICK HERE</a> </p><br>
                <p>Thanks,
                <br><b>Mealdaay.com</b></p>
        </div>
    </div>
</div>