<style>p{
  margin:5px;
}</style>
<div class="qlt-confirmation">
    <div class="panel panel-default">
        <div class="panel-body">
                <p class="desc">Hello,</p>
                <br>
                <p> Referral link refered to Mealdaay.com <br>
                Referral Link <a href='http://mealdaay.com/owner/referralregister/<%= token %>'> CLICK HERE</a> </p><br>
                <p>Thanks,</p>
                <p><b>Mealdaay.com</b></p>
        </div>
    </div>
</div>
