<div class="qlt-confirmation">
    <div class="panel panel-default">
        <div class="panel-body">
                <p class="desc">Hello,</p> <br> Referral Link <a href='http://mealdaay.com:3004/owner/referralregister/<%= token %>'>CLICK HERE</a>
                <br><br>
                <p> Referral link refered to Mealdaay.com </p>
                <p>Thanks,</p>
                <p><b>Mealdaay.com</b></p>
        </div>
    </div>
</div>