<div>
    <div class="panel panel-default">
        <div class="panel-body">                           
                <p class="desc">Hello <b><%= username %>,</b></br></br> Thank you for signing up! Please click the below link to Activate your Account. </br></br> <a href='http://mealdaay.com:3004/owner/mailactivate/<%= token %>'>CLICK HERE</a> 
                <br><br>
                <p>Thanks,</br>
                <b>Mealdaay.com</b></p>
        </div>
    </div>
</div>