<div>
    <div class="panel panel-default">
        <div class="panel-body">                           
                <p class="desc">Hello <b><%= username %>,</b> </p> </br> You receive an new order which <b>Order Id :</b> <%= token %>
                <br><br>
                <p>Thanks,</br>
                <b>Mealdaay.com</b></p>
        </div>
    </div>
</div>