<style>p{
  margin:5px;
}</style>
<div>
    <div class="panel panel-default">
        <div class="panel-body">                           
                <p class="desc">Hello <b><%= username %>,</b> </p> </br> 

                <p>You receive an new order which <b> Order Id :</b> <%= token %> .</p>
                <br>
                <p>Thanks,</p>
                <p><b>Mealdaay.com</b></p>
        </div>
    </div>
</div>
