<div class="container">
    <div class="row">
        <div class="col-md-4 col-md-offset-4">
            <div class="login-panel panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Reset Password</h3>
                </div>
                <div class="panel-body" *ngIf="this.newo != false">
                    <form role="form" [formGroup]="forgetForm" (ngSubmit)="forgetPass()">
                        <fieldset>
                            <div class="form-group">
                                <input formControlName="password" class="form-control" placeholder="Password" type="password" autofocus (keyup)="matchpassword()">
                            </div>

                            <div class="form-group">
                                <input formControlName="newpassword" class="form-control" placeholder="Confirm Password" type="password" autofocus (keyup)="matchpassword()">
                            </div>
                            
                            <div style="padding: 3px;" *ngIf="formErrors.password" class="alert alert-danger">
                               {{ formErrors.password }}
                            </div>
                            
                            <div style="padding: 3px;" class="alert alert-danger" *ngIf="MutchPassword">Password not match</div>

                            <!-- Change this to a button or input when using this as a form -->
                            <button class="btn btn-lg btn-success btn-block" [disabled]="!forgetForm.valid">Submit</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>