<style type="text/css">
	.secondDiv div{
		min-height: 0px;
		margin-bottom: 10px;
	}
</style>
<app-headerowner></app-headerowner>
<div class="rightMenu col-lg-9 col-md-9 col-sm-9">
	<alert></alert>
	<div class="row">
		<div class="profile" id="Menu18"> 
			<form [formGroup]="comboAddModel" (ngSubmit)="comboAdd()">
            <div class="firstDiv">
				<span class="">Add Combo</span>
			</div>
			<div class="secondDiv"> 
                <div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-cutlery" aria-hidden="true"></i>
	  				</span>
	  				<input type="text" class="form-control" formControlName="name">
	  				<span class="gfe-input-placeholder"> Combo Name * </span>
				</div>				
				&nbsp;
				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-file-text" aria-hidden="true"></i>
	  				</span>
	  				<textarea type="text" class="form-control" formControlName="description" cols="10" rows="5"> </textarea>	  				
	  				<span class="gfe-input-placeholder"> Description * 
	  				</span>
				</div>	
				<p class="rederr" *ngIf="comboAddModel.get('description').errors"> 
                Maximum 150 character is Allowed! 
                </p>
				&nbsp;
				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<i class="fa fa-upload" aria-hidden="true"></i>
	  				</span>
	  				<input type="file" class="form-control" name="single" ng2FileSelect [uploader]="uploader" (change)="onChange($event)" accept="image/x-png,image/jpeg,image/jpg, image/x-PNG,image/JPEG,image/JPG"/>
	  				<span class="gfe-input-placeholder"> Image * </span>
				</div>
				<p class="rederr" *ngIf="file_type">File type should only image jpg, jpeg, png .This type file not allowed.</p>
				<div class="progress progress-barn" *ngIf="progress > 0 && progress < 100">
					<div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="50"
					aria-valuemin="0" aria-valuemax="100" [ngStyle]="{'width': progress + '%'}">
					{{progress }}%
				    </div>
			    </div>			
				&nbsp;
				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<b>{{restaurantDetail.currency}}</b>
	  				</span>
	  				<input type="number" class="form-control" formControlName="finalcomboprice">
	  				<span class="gfe-input-placeholder"> Combo Price * </span>
				</div>	
				<p *ngIf="formErrors.finalcomboprice" class="alert alert-danger">{{ formErrors.finalcomboprice }}
				</p>			
				&nbsp;
				<div class="input-group gfe-input">
					<span class="input-group-addon">
	    				<b>{{restaurantDetail.currency}}</b>
	  				</span>
	  				<input type="number" class="form-control" formControlName="totalprice" [readonly]="true">
	  				<span class="gfe-input-placeholder"> Total Price * </span>
				</div>
				&nbsp;
				   <span *ngFor="let menu of menus">
				<div class="mainMenuItem cstmainMenuItem" *ngIf="checkHide(menu)">
					
					<div class="row">
						<div class="itemImage col-lg-2 col-md-2 col-sm-2 col-xs-2" style="margin-left: 20px; padding : 0px; width: 9.666667%;">
						<img src="{{imageUrl}}{{menu.image}}" class="img-responsive custom_imgwh" style="height: inherit;width: 100%">			
						</div>
						<div class="itemDesc col-lg-8 col-md-8 col-sm-8 col-xs-8">                 
							{{menu.name}}
						</div>
						<div class="icons col-lg-2 col-md-2 col-sm-2 col-xs-2" style="">

						</div>
					</div> 
					
					<div class="row" style="padding-left: 23px; margin-top: 17px;">
						<span *ngFor="let item of items">              
							<div *ngIf="item.menuId._id == menu._id" class="col-sm-3">
								<div class="custom_thumbna" style="    max-height: 150px;
    min-height: 149px;">
									<img class="img-responsive custom_imgwh" src="{{imageUrl}}{{item.image}}" style="height: 55px;"> 
									<div>
										<input type="checkbox" (click)="priceCalc(item._id,item.price)" /> {{item.name}}
										<br>
										<small style="font-size: 10px;" *ngIf="restaurantDetail.currency"><b>{{restaurantDetail.currency}}</b></small> {{item.price}}
									</div>		     			     		
								</div>                
							</div>            
						</span>
					</div>

				</div>
			</span>
				&nbsp;
				</div>
				<div class="form-group button-position7">
			      	&nbsp; &nbsp;
					<a type="submit" class="btn btn-danger" value="Back" style="float: right; margin-left: 10px; "  [routerLink]="['/owner/combo']">Cancel</a>
	<input type="submit" class="btn btn-success" style="float: right;" Value="Save" [disabled]="!comboAddModel.valid">
				</div>
			</form>        
			<div>
			</div>
		</div>
	</div>
</div>